@use "./variables" as *;

// THE COURSE BODY
.course {
  margin-top: 1rem;
  padding: 1rem;
  padding-left: 3rem;
}

// COURSE TABLE
.course-table {
  width: 95%;
  margin: auto;
  margin-top: 2rem;
  border-collapse: collapse;

  & tr {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    border: 1px solid $color-grey;

    & td,
    & th {
      padding: 0.9rem;
      min-width: 5rem;

      &:not(:first-of-type) {
        border-left: 1px solid $color-grey;
      }

      & button {
        background: none;
        outline: none;
        border: none;
        margin: 0 1rem;
        font-size: 1.7rem;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      & .update {
        color: $color-green;
      }
      & .delete {
        color: $color-red;
      }
    }
  }

  & tbody {
    & tr {
      font-weight: 400;
      font-size: 1.3rem;
    }
  }
}

// The instructions on the course form
.form {
  display: flex;
  height: 85dvh;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  // COURSE FORM
  & .course-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 3rem;
    padding: 1rem;
    width: 50%;
    border: 1px solid $color-grey;

    & h2 {
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
    }

    &-input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      gap: 1rem;

      & label {
        width: 12rem;
        font-size: 1.5rem;
      }

      & input,
      & select {
        border: 1px solid $color-grey;
        outline: none;
        height: 4rem;
        width: 40rem;
        padding-left: 0.5rem;
      }

      & select {
        height: 5rem;
      }
    }
    & button {
      background: $color-secondary;
      outline: none;
      border: none;
      margin: 0 1rem;
      font-size: 1.5rem;
      width: 15rem;
      justify-self: center;
      padding: 1rem;
      border-radius: 0.5rem;
      margin: auto;
    }
  }
}
