@forward "./dashboard.scss";
@forward "./timetable.scss";
@forward "./course.scss";
@forward "./setting.scss";
@forward "./staff.scss";
@forward "./utls.scss";
@forward "./calendar.scss";

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}
