@use "./variables" as *;

// THE COURSE HEADER
.page-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $color-grey;
  padding-bottom: 0.9rem;

  & h2 {
    font-weight: 500;
    font-size: 2rem;
  }

  &-actions {
    display: flex;
    gap: 2rem;

    & button,
    & a {
      border: none;
      outline: none;
      background-color: $color-secondary;
      color: $color-black;
      padding: 0.7rem;
      text-align: center;
      font-weight: 600;
      border-radius: 0.5rem;
      width: 9rem;
      font-size: 1.3rem;
      text-decoration: none;
    }

    & input,
    & select {
      outline: none;
      border: 1px solid $color-grey;
      padding: 0.5rem;
    }
  }
}

// Media query to remove some things on download
@media print {
  .onDownload {
    display: none;
  }
}
